body {
    background-image: url("https://images.unsplash.com/photo-1488415032361-b7e238421f1b?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

}

#mainText {
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
    color: aliceblue;
    font-weight: bolder;
}

